main {
  padding: 20px 50px;
}

body {
  background-color: #fcfcfc;
  font-size: 16px;
}

p {
  font-size: 16px;
}

.rm-header {
  font-size: 16px;
  padding: 15px;
  font-weight: 400;
  background-color: unquote("rgb(#{$color-primary})");
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  z-index: 100;
  position: relative;
}

.rm-header__logo {
  display: inline-block;
  text-align: center;
  padding: 1px;
  margin: 2px;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid;
}

.rm-header__title {
  & .material-icons {
    position: relative;
    top: 6px;
  }
}
.rm-menu {
  position: relative;
  float: left;
  width: 0px;
  overflow: hidden;
  background-color: #fefefe;
  height: calc(100vh - 72px);
  transition: width .3s;
  box-shadow: 3px 0 6px rgba(0,0,0,0.24);
  z-index: 10;
  padding-top: 10px;

  &.is-active {
    width: 240px;
  }
}

.rm-header__menu-links {
  float: left;
  margin-right: 15px;
  cursor: pointer;

  & .material-icons {
    position: relative;
    top: 2px;
    font-size: 30px !important;
  }
}

.rm-menu__link {
  display: block;
  position: relative;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  border-bottom: 1px #eee solid;

  &:hover {
    background-color: #eee;
  }

  &.is-active {
    background-color: #eee;
    font-weight: bold;
  }
}

.rm-menu__section {
  background-color: #ccc;
  color: #fff;
  padding: 5px 10px;
}

.rm-content {
  float: left;
  width: calc(100% - 320px);
  padding: 10px 40px;
  height: calc(100vh - 90px);
  overflow-y: auto;
}

.rm-title {
  margin-top: 20px;
  border-bottom: 2px solid #ccc;
  font-size: 30px;
  height: 35px;
  margin-bottom: 10px;
}

.rm-title__actions {
  float: right;
}
