
main {
  padding-left: 240px;
  >.container {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 85%;
  }
}

code {
  background-color: #ccc;
  padding: 10px 20px;
  display: block;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
