
main {
  padding-left: 280px;
  padding-top: 20px;
  min-height: 500px;
  padding-right: 40px;

}

code {
  background-color: #ccc;
  padding: 10px 20px;
  display: block;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

header {
  padding-left: 240px;

  > nav {
    padding-left: 20px;
  }
}

footer {
  padding-left: 240px;
}
