html {
  font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body.modal-open {
  position: static;
  height: auto;
  overflow: hidden;
}

main {
  padding-left: 240px;
  padding-top: 50px;
  .container {
    min-height: 600px;
    padding-bottom: 40px;
  }
}

input {
  height: 2rem !important;
  line-height: 2rem !important;
}

input:not([type=checkbox]).validate + label {
  margin-top: -10px;
}

.input-field {
  margin-bottom: 10px;
}

.input-field .label-field {
  top: 0.4rem;
}

.footer {
  background: #ccc;
  height: 200px;
}

.side-nav  {
  z-index: 100;
  a {
    line-height: 44px;
    height: 44px;
  }
  a.active {
    background-color: rgba(0,0,0,.1);
  }
}

/* for react-ink compatibilty */
ul.side-nav li {
  position: relative;
}
.select-dropdown li {
  position: relative;
}
.btn, .btn-flat {
  position: relative;
}
