@keyframes fadeIn {
    from { opacity: 0; top: -20px }
      to { opacity: 1; top: 0px; }
}
@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

.dropdown-content.active {
  display: block;
  opacity: 1;
  top: 0px;
  width: 100%;
  animation: fadeIn 0.4s;
}

.dropdown-content.hideAnimation {
  opacity: 0;
  animation: fadeOut 0.4s;
}


.select-dropdown {
  max-height: 250px;
  overflow: auto !important;
}

.select-preview {
  position: absolute;
  top: 5px;
  height: 25px;
  overflow: hidden;

  .preview-item{
    &:after {
      content: ", ";
    }
    &:last-child:after {
      content: "";
    }
  }
}

.select-wrapper label {
  left: 0px;
}

.select-wrapper span.caret {
  font-size: 11px;
  margin-top: -4px;
  color: #aaa;
}
