@keyframes fadeIn {
    from { opacity: 0; max-height: 0px; }
      to { opacity: 1; max-height: 250px }
}
@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

.dropdown-content.active {
  display: block;
  opacity: 1;
  top: 0px;
  width: 100%;
  animation: fadeIn 0.4s;
}

.dropdown-content.hideAnimation {
  opacity: 0;
  animation: fadeOut 0.4s;
}

.select-dropdown {
  max-height: 250px;
  overflow: auto;

  & input {
    border: 1px solid;
  }
}

.select-preview {
  position: relative;
  top: 8px;
  height: 25px;
  width: calc(100% - 50px);
  display: inline-block;

  .preview-item{
    &:after {
      content: ", ";
    }
    &:last-child:after {
      content: "";
    }
  }
}

.select-wrapper {
  border-bottom: 1px solid;
  outline: none;
  cursor: pointer;
  &.active {
    padding-bottom: 7px;
  }
}

.select-wrapper label {
  left: 0px;
}

.select-wrapper span.caret {
  font-size: 32px;
  top:4px;
  color: #aaa;
}
